/* px
절대 크기: 모니터상의 한 점
사용자가 브라우저를 통해 조정 불가: 낮은 접근성 */
span {
    font-size: 24px;

}

/* 같은 선택자가 왔을때 늦게 쓴것이 앞에 것을 덮는다. */
/* 글자크기를 점점 크게 해준다. */
/* em
상대 크기: 바로 윗 부모의 크기에 비례
중첩마다 제곱 */
span {
    font-size: 1.5em;
}

/* 덮어씌우는 성질로 em은 표시 되지 않고 아래있는 rem 적용 */
/* rem
상대 크기: 최상위 조상의 크기에 비례
일반적으로 body의 글자 크기: 16px */
span {
    font-size: 1.5rem;
}