/* 기본 세팅 */
body {
    background-color: lightgray;
}

div {
    background-color: white;
    width: 320px;
    height: 120px;
    border-radius: 16px;
}

/* 그림자 */
/* 오른쪽 으로 돌아 아래쪽으로  */
div {
    box-shadow: 3px 3px black;
}

/* 숫자를 하나 더 넣으면 번지는 효과로 인하여, 부드럽게 한다 */
div {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

/* 그림자 여러개 넣기 */
div {
    box-shadow:
        0 0 4px red,
        2px 2px 8px orange,
        4px 2px 12px yellow;
}