/* 기본 세팅 */
body {
    padding: 0;
    margin: 0;
}

.outer {
    width: 80%;
    height: 640px;
    background-color: yellowgreen;
}

.inner {
    background-color: green;
}

/* px 
절대크기 : 모니터상의 한점 */
.inner {
    width: 400px;
    height: 300px;
}

/* % 
상대크기 : 바로 윗 부모의 크기에 비례 */
.inner {
    width: 50%;
    height: 50%;
}

/* vw
상대 크기: 뷰포트 너비의 1/100
vh
상대 크기: 뷰포트 높이의 1/100 */
.inner {
    width: 50vw;
    height: 50vh;
}

/* vmax = 가로세로중 더 넓은(큰, 긴) 곳
상대 크기: 뷰포트 너비, 높이 중 긴 쪽의 1/100
vmin = 가로세로중 더 졻은(작은, 짧은) 곳
상대 크기: 뷰포트 너비, 높이 중 짧은 쪽의 1/100 */
.inner {
    width: 50vmin;
    height: 50vmin;
}

.inner {
    width: calc(100% - 100px);
    /* 가로의 전체 100% 에서  100px 만큼 뺀 크기 적용 */
    height: calc(50vh + 200px);
    /* 세로의 50%에서 200px을 더한 크기 적용 */
}