/* 기본셋팅 */
span {
    font-size: 1.2rem;
    color: white;
    background-color: tomato;
    border: 2px solid firebrick;
}

/* 왜 안되지? */
/* span { position: relative; }
span:nth-child(1) { top: 12px; }
span:nth-child(2) { right: 12px; }
span:nth-child(3) { bottom: 12px; }
span:nth-child(4) { left: 12px; } */

span {
    position: relative;
}

span:nth-child(3) {
    top: 12px;
}

span:nth-child(4) {
    right: 12px;
}

span:nth-child(5) {
    bottom: 12px;
}

span:nth-child(6) {
    left: 12px;
}