/* 기본 세팅 */
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 150px);
}
.wrapper > div { 
  background-color: yellow; 
}
.wrapper > div:nth-child(even) { 
  background-color: yellowgreen;
}

/* 빨간색 부분 */
.wrapper > div:nth-child(1) {
  background-color: red;
  grid-column: 1/4;
  grid-row: 1/2;
}

/* 초록색 부분 */
.wrapper > div:nth-child(2) {
  background-color: green;
  grid-column: 1/2;
  grid-row: 2/4;
}

/* 보라색 부분 */
.wrapper > div:nth-child(3) {
  background-color: purple;
  grid-column: 2/4;
  grid-row: 2/4;
}

/* 파란색 부분 */
.wrapper > div:nth-child(4) {
  background-color: blue;
  grid-column: 1/3;
  grid-row: 4/5;
}

/* 오렌지색 부분 */
.wrapper > div:nth-child(5) {
  background-color: orange;
  grid-column: 3/4;
  grid-row: 4/5;
}