@value makerWhite, makerGreen from '../../common/colors.css';

.footer {
  min-width: 30em;
  width: 100%;
  background-color: makerGreen;
  text-align: center;
}

.title {
  color: makerWhite;
  margin: 0;
  padding: 1rem;
}
